//BRAND
$themeColorOne: #151921; // header, menu, footer, title, 
$themeColorTwo: #ee1c25; // menu active item, button, footer link hover,
$themeColorThree: #ee1c25; //preHeader bg,
$themeColorFour: #003980; //menu hover item, table border, preHeader font

//SELECTION
$selectionBgColor: #338fff;
$selectionFontColor: #fff;

//BODY
$bodyBgColor: #fff; //white
$bodyFontColor: #000; // black

//PreHeader
$preHeaderBgColor: $themeColorThree;
$preHeaderColor: $themeColorFour;

//HEADER
$headerBgColor: $themeColorOne;
$headerFontColor: #000;

$headerHighlightBgColor: $themeColorTwo;
$headerHighlightColor: #fff;

//MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorFour;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//FOOTER
$footerBgColor: #000;
$footerFontColor: #454545;
$footerLinkColorActive: lighten($footerFontColor, 10%);

//WRAPPER
$wrapperBgColor: #fff;

//TITLES
$titleFontColor: #000;
$titleFontColorActive: lighten($titleFontColor, 10%);

//LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

//BUTTONS
$buttonFontColor: #fff;
$buttonFontColorActive: #fff;
$buttonBgColor: #ee1c25;
$buttonBgColorActive: lighten($buttonBgColor, 10%);
$buttonBorderColor: #000;
$buttonOutlinedFirstColor: $themeColorTwo;
$buttonOutlinedSecondColor: #fff;

//TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorFour, 70%);
$tableBorderColor: lighten($themeColorFour, 50%);
$tableBorderColorActive: $themeColorFour;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

//TEXT
$textMutedColor: #aaa;

//Icons
$iconColor: #fff;
$iconColorActive: #fff;
$iconColorReversed: #fff;

//FORM
$formBgColor: $themeColorOne;

//FORM Field
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 70%);
$formFieldPadding: 10px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 16px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;

// Menu
$navArrowColor: white;
$navHeaderMobileBGColor: #fff;
$navHamburgerMobileColor: #003980;

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: #003980;
$paginationLinkOnHoverText: #fff;